<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupMeHodor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GroupMeHodor.Properties.Settings>
            <setting name="BotId" serializeAs="String">
                <value>BOT_ID</value>
            </setting>
            <setting name="BotName" serializeAs="String">
                <value>BOT_NAME</value>
            </setting>
            <setting name="EndPointUrl" serializeAs="String">
                <value>https://api.groupme.com/v3/bots/post</value>
            </setting>
        </GroupMeHodor.Properties.Settings>
    </userSettings>
</configuration>