<?xml version="1.0" encoding="utf-8" ?>
  <GroupMeHodor.Properties.Settings>
   <setting name="BotId" serializeAs="String">
                <value>BOT_ID</value>
            </setting>
            <setting name="BotName" serializeAs="String">
                <value>BOT_NAME</value>
            </setting>
            <setting name="EndPointUrl" serializeAs="String">
                <value>https://api.groupme.com/v3/bots/post</value>
            </setting>
  </GroupMeHodor.Properties.Settings>
